.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: var(--black);
    opacity: 0.7;
    top: 0;
    left: 0;
  }

  &__content {
    position: relative;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    top: 0;
    left: 0;
    background: var(--white);
    border-radius: var(--border-radius);
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }

  &__form-error {
    transition: 0.2s ease;
    color: var(--error);
    opacity: 0;
    font-size: 14px;
    margin: 0;

    &_visible {
      opacity: 1;
    }
  }

  &__input {
    width: 100%;
    font-size: 16px;

    &_error {
      border-color: var(--error);

      &:active,
      &:focus {
        border-color: var(--error);
      }
    }
  }

  &__description {
    width: 100%;
    resize: none;
    display: block;
  }

  &__buttons {
    display: flex;
  }

  &__cancel,
  &__submit {
    padding: 20px;
  }

  &__cancel {
    background: var(--grey);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  }

  &__submit {
    background: var(--green100);
    background-color: initial;
    background-image: linear-gradient(-180deg, var(--green90), var(--green100));
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    margin-left: 20px;

    &:disabled {
      background-image: linear-gradient(-180deg, #10a260, #0fc271);
      color: var(--grey-brown);
    }
  }
}


