.post {
  width: 100%;
  padding: 16px;
  background: var(--white);
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__buttons {
    width: max-content;
    display: flex;
  }

  &__edit {
    img {
      width: 30px;
      filter: brightness(0) saturate(100%) invert(48%) sepia(84%) saturate(1917%) hue-rotate(119deg) brightness(96%) contrast(100%);
    }
  }

  &__delete {
    margin-left: 10px;

    img {
      width: 33px;
      filter: brightness(0) saturate(100%) invert(31%) sepia(93%) saturate(3624%) hue-rotate(358deg) brightness(94%) contrast(93%);
    }
  }
}
