.post {
  @media(max-width: 400px) {
    h2 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }

    &__edit {
      img {
        width: 20px;
      }
    }

    &__delete {
      img {
        width: 23px;
      }
    }
  }
}
